<section id="search">
  <div class="container-fluid">
    <div class="app-header">
      <h2 class="text-center">Elastic Search APP</h2>      
    </div>

    {{search-container}}
  </div>
</section>
